.top {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: rgb(47, 216, 5);
}

.wrapper {
  display: grid;
  margin-top: 0.5rem;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.items {
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.items:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

input:hover {
  cursor: pointer;
}

.select-all {
  display: flex;
  justify-content: right;
  font-weight: 300;
  align-items: center;
  margin-bottom: 0.5rem;
}

.options > button {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin-left: 1rem;
  font-weight: 600;
}

.options > button:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px 0 rgba(65, 29, 29, 0.5);
}
