.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: rgb(47, 216, 5);
}

.wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.items {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

input:hover {
  cursor: pointer;
}
